@{
    ViewData["Title"] = "Fit for Life";
}
<div class="row">
<h1 class="col-sm-12"> Finland Finance</h1>

<p class="col-sm-12">
    Findland Finance has been around for over 40 years. We are dedicated to help you plan your road to success. We achieve this by aligining your finances with
    your future goals. We help with Savings plans, Investing and Advising. Whatever your finacial goals are we can help make it a reality. 
</p>
  <br/>
<p class="col-sm-12">We want you to succeed.</p>
    <div class="col-sm-6">
        <img src="~/Images/success.jpg" alt="success" class="img-fluid"  />
    </div>
</div>
