@{
    ViewData["Title"] = "Fit for Life";
}
<h2>Finland Finance</h2>
<h3>We want you to Succeed...</h3>

<address>
    45 Fin Avenue<br />
    Detroit, MI 48201<br />
    <abbr title="Phone">P:</abbr>
    313-222-1234
</address>

<address>
    <strong>Customer Service:</strong> <a href="mailto:cs@finfinance.com">Support@fitforlife.com</a><br />
    <strong>Branch Manager</strong> <a href="mailto:scott.heckle@finfinance.com">scott.heckle@finfinance.com</a>
</address>

<img src="~/Images/contact.jpg" alt="contact" style="border-radius:20px;width:100%;" class="col-md-4" />

